.visible-mobile.mobile-menu  
  nav.mobile-menu__navigation
    ul.mobile-menu__list
      li.mobile-menu__item
        a.link-element(href="#") ПРО НАС
      li.mobile-menu__item
        a.link-element(href="#") БЛОГ
      li.mobile-menu__item
        a.link-element(href="#") ВИДЕО
      li.mobile-menu__item
        a.link-element(href="#") ВОПРОСЫ
      li.mobile-menu__item
        a.link-element(href="#") ЦЕНЫ
      li.mobile-menu__item
        a.link-element(href="#") КОНТАКТЫ